<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Tytuł strony{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
<!--    <style>-->
<!--    body {-->
<!--        font-family: Arial, sans-serif;-->
<!--        margin: 0;-->
<!--        padding: 0;-->
<!--        background-color: #f5f5f5;-->
<!--        color: #5A483E;-->
<!--    }-->

<!--    #menu {-->
<!--        background-color: #5A483E;-->
<!--        padding: 10px;-->
<!--        border-radius: 5px;-->
<!--    }-->

<!--    #menu ul {-->
<!--        list-style: none;-->
<!--        margin: 0;-->
<!--        padding: 0;-->
<!--    }-->

<!--    #menu li {-->
<!--        display: inline;-->
<!--        margin-right: 20px;-->
<!--    }-->

<!--    #menu a {-->
<!--        color: #fff;-->
<!--        text-decoration: none;-->
<!--        padding: 5px 10px;-->
<!--        border-radius: 5px;-->
<!--    }-->

<!--    #menu a:hover {-->
<!--        color: #FFA500;-->
<!--    }-->

<!--    #menu a:hover::after {-->
<!--        content: "";-->
<!--        position: absolute;-->
<!--        bottom: 0;-->
<!--        left: 0;-->
<!--        width: 100%;-->
<!--        height: 2px;-->
<!--        background-color: #FFA500; /-->
<!--    }-->

<!--    #content {-->
<!--        margin: 20px;-->
<!--    }-->

<!--    #footer {-->
<!--        background-color: #5A483E;-->
<!--        color: #008000;-->
<!--        text-align: center;-->
<!--        padding: 10px;-->
<!--    }-->

<!--    a {-->
<!--        color: #5A483E;-->
<!--        text-decoration: none;-->
<!--        box-shadow: 0 1px 2px #FFA500;-->
<!--        transition: box-shadow 0.3s ease;-->
<!--        border-radius: 5px;-->
<!--    }-->

<!--    a:hover {-->
<!--        color: #FFA500;-->
<!--        box-shadow: 0 2px 4px #FFA500;-->
<!--    }-->

<!--    input[type='submit'],-->
<!--    button {-->
<!--        background-color: #5A483E;-->
<!--        color: #fff;-->
<!--        border: none;-->
<!--        padding: 8px 16px;-->
<!--        cursor: pointer;-->
<!--        border-radius: 5px;-->
<!--    }-->

<!--    input[type='submit']:hover,-->
<!--    button:hover {-->
<!--        background-color: #FFA500;-->
<!--        box-shadow: 0 4px 6px #008000;-->
<!--    }-->

<!--    .sort-option {-->
<!--        color: #FFA500;-->
<!--    }-->

<!--    .sort-option:hover {-->
<!--        color: #5A483E;-->
<!--    }-->
<!--    </style>-->
</head>

<body>
    {% block logo %}
  <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    {% endblock %}
    {% block menu %}
    <div id="menu">
        <ul>
            <li><a class="tooltip" data-text="  zapraszamy do zapoznania się z naszą ofertą " href="{% url 'index' %}">Lista produktów</a></li>
            <li><a class="tooltip" data-text="  do produktów" href="{% url 'ingredient_list' %}">Lista składników</a></li>
            <li><a class="tooltip" data-text="  produktów" href="{% url 'category_list' %}">Lista kategorii</a></li>
            <li><a class="tooltip" data-text="  produkty, składniki lub kategorie" href="{% url 'search_view' %}">Szukaj </a></li>
            <li><a class="tooltip" data-text="  wyświetl zawartość" href="{% url 'cart' %}">Koszyk</a></li>
            <li><a class="tooltip" data-text="  wyświetl zawartość" href="{% url 'your_orders' %}">Twoje zamówienia</a></li>
        </ul>
    </div>
    {% endblock %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    <footer>
    <div id="footer">
        &copy; 2023 omega style
    </div>
    {% if request.user.is_anonymous %}
                <a class="tooltip" data-text="  aby korzystać ze sklepu" href="{% url 'login' %}">zaloguj</a>
            {% else %}
                <p>Nazwa zalogowanego usera: {{ request.user.username }}</p>
                <a href="{% url 'logout-url' %}">wyloguj</a>

                <a href="{% url 'reset' %}">zmień hasło</a>
            {% endif %}
     </footer>
    {% endblock %}

<script src="{% static 'app.js' %}"></script>
</body>
</html>

