<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Tytuł strony{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
<!--    <style>-->

<!--    </style>-->
</head>

<body>
    {% block logo %}
  <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo2.png' %}" alt="logo" width="100" height="100">
    <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100">
    {% endblock %}
    {% block menu %}
    <div id="menu">
        <ul>
            <li><a class="tooltip" data-text="  zapraszamy do zapoznania się z naszą ofertą " href="{% url 'index' %}">Lista produktów</a></li>
            <li><a class="tooltip" data-text="  do produktów" href="{% url 'ingredient_list' %}">Lista składników</a></li>
            <li><a class="tooltip" data-text="  produktów" href="{% url 'category_list' %}">Lista kategorii</a></li>
            <li><a class="tooltip" data-text="  produkty, składniki lub kategorie" href="{% url 'search_view' %}">Szukaj </a></li>
            <li><a class="tooltip" data-text="  wyświetl zawartość" href="{% url 'cart' %}">Koszyk</a></li>
            <li><a class="tooltip" data-text="  wyświetl zawartość" href="{% url 'your_orders' %}">Twoje zamówienia</a></li>
        </ul>
    </div>
    {% endblock %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    <footer>
    <div id="footer">
        &copy; 2023 omega style
    </div>
    {% if request.user.is_anonymous %}
                <a class="tooltip" data-text="  aby korzystać ze sklepu" href="{% url 'login' %}">zaloguj</a>
            {% else %}
                <p>Nazwa zalogowanego usera: {{ request.user.username }}</p>
                <a href="{% url 'logout-url' %}">wyloguj</a>

                <a href="{% url 'reset' %}">zmień hasło</a>
            {% endif %}
     </footer>
    {% endblock %}

<script src="{% static 'app.js' %}"></script>
</body>
</html>

