{% extends 'base.html' %}

{% block title %}Twój Profil{% endblock %}

{% block content %}
  <h2>Twój Profil</h2>
  <p>Witaj, {{ user.username }}!</p>
  <p>Twój adres e-mail: {{ user.email }}</p>
  <p>Imię: {{ user.first_name }}</p>
  <p>Nazwisko: {{ user.last_name }}</p>

  <!-- Dodaj tutaj inne informacje o profilu użytkownika, jeśli są dostępne -->

  <a href="{% url 'reset' %}">Zmień hasło</a>
  <br>
  <a href="{% url 'logout-url' %}">Wyloguj</a>

  {% if messages %}
    {% for message in messages %}
        <h2>{{ message }}</h2>
    {% endfor %}
    {% endif %}

{% endblock %}